<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutreeko</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <p id="which-is-human"></p>
    <p id="turn-part"></p>
    <div id="content">
      <table id="board"></table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
