<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutreeko</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <p id="which-is-human"></p>
    <p id="turn-part"></p>
    <div id="content">
      <table id="board"></table>
    </div>
    <div id="modal">
      <div id="start-dialog" class="dialog hide">
        <h1>Let's play Neutreeko!!</h1>
        <button id="start-button">プレイする</button>
      </div>
      <div id="finish-dialog" class="dialog hide">
        <h1 id="result"></h1>
        <button id="restart-button">トップに戻る</button>
      </div>
    </div>
    <div id = "circle"></div>
    <div id = "elem"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "../static/anime.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
