body {
  text-align: center;
}
main {
  display: inline-block;
  position: relative;
}

#board {
  margin: 0 auto;
  background: #555555;
}

td.cell {
  width: 46px;
  height: 46px;
  margin: 2px;
}
.cell div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
}

.black {
  background: black;
}
.white {
  background: white;
}
h2 {
  text-align: center;
  margin: 5px 0;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
