body {
  text-align: center;
  background-color: #fff9ee;
  font-family: sans-serif;
}
/* main {
  display: inline-block;
  position: relative;
} */
#circle{
  background-color: black;
  width : 35px;
  height : 35px;
  border-radius : 50%;
  position : absolute;
  top : 100px;
  left : 100px;
}

#which-is-human.human-black {
  color: white;
  margin: 0 auto;
  width: 240px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

#which-is-human.human-white {
  color: black;
  margin: 0 auto;
  width: 240px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

#board {
  margin: 0 auto;
  background: #555555;
}

#board.reverse {
  transform: rotate(180deg);
}

td.cell {
  width: 46px;
  height: 46px;
  margin: 2px;
}
.cell div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
}

.black {
  background: black;
}
.white {
  background: white;
}
h2 {
  text-align: center;
  margin: 5px 0;
}

.options {
  background-color: #00aeef;
}

.green {
  background-color: green;
}

.blue{
  background-color: blue;
}

.selected {
  box-shadow: 0 0 10px yellow;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.hide {
  display: none;
}

.dialog {
  padding: 50px;
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

#elem{
  height : 100px;
  width : 100px;
}
@media (max-width: 600px) {
  .dialog {
    padding: 10px;
    width: 90%;
  }
}
